input, select {
    margin-bottom: 10px;
    font-size: 15px;
    padding: 8px;
}

.btn-outline-secondary {
    color: #6c757d;
    background-color: transparent;
    background-image: none;
    border: 1px solid #E3E3E3;
    font-size: 20px;
    padding: 0px 11px;
    margin: 0;
}

.btn-outline-secondary:hover {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
    box-shadow: none;
}

.btnlink {
    color: #6671ba;
    font-weight: 600;
    padding: 4px;
    cursor: pointer;
}