<div class="container">
  <form class="py-4">
    <label for="exampleInputEmail1">Ông (bà):</label>
    <input type="text" name="user-name" class="form-control" id="user-name" placeholder="Ông (bà):">
    <div class="row">
      <div class="col-sm-5">
        <label for="exampleInputEmail1">SĐT:</label>
        <input type="text" name="user-phone" class="form-control" id="user-phone" placeholder="SĐT:">
      </div>
      <div class="col-sm-6">
        <label for="exampleInputEmail1">Zalo:</label>
        <input type="text" name="user-zalo" class="form-control" id="user-zalo" placeholder="Zalo:">
      </div>
    </div>
    <label for="exampleInputEmail1">Chứng minh nhân dân:</label>
    <input type="text" name="user-cmnd" class="form-control" id="user-cmnd" placeholder="Chứng minh nhân dân:">
    <div class="row">
      <div class="col-sm-6">
        <label for="exampleInputEmail1">Ngày cấp:</label>
        <input type="text" name="user-date_cmnd" class="form-control" id="user-date_cmnd" placeholder="Ngày cấp:">
      </div>
      <div class="col-sm-6">
        <label for="exampleInputEmail1">Công an:</label>
        <input type="text" name="user-date_ca" class="form-control" id="user-ca" placeholder="Công an:">
      </div>
    </div>
    <label for="exampleInputEmail1">Địa chỉ thường trú:</label>
    <input type="text" name="user-address" class="form-control" id="user-address" placeholder="Địa chỉ thường trú:">
    <label for="exampleInputEmail1">Hiện là sinh viên trường:</label>
    <input type="text" name="user-university" class="form-control" id="user-university" placeholder="Hiện là sinh viên trường:">
    <div class="row">
      <div class="col-sm-4">
        <label for="exampleInputEmail1">Khóa:</label>
        <input type="text" name="user-nam" class="form-control" id="user-nam" placeholder="Khóa:">
      </div>
      <div class="col-sm-4">
        <label for="exampleInputEmail1">Khoa:</label>
        <input type="text" name="user-khoa" class="form-control" id="date_khoa" placeholder="Khoa:">
      </div>
      <div class="col-sm-4">
        <label for="exampleInputEmail1">Lớp:</label>
        <input type="text" name="user-class" class="form-control" id="user-class" placeholder="Lớp:">
      </div>
    </div>
    <label for="exampleInputEmail1">Họ tên cha:</label>
    <input type="text" name="user-father" class="form-control" id="user-father" placeholder="Họ tên cha:">
    <div class="row">
      <div class="col-sm-6">
        <label for="exampleInputEmail1">SĐT:</label>
        <input type="text" name="user-father_phone" class="form-control" id="user-father_phone" placeholder="SĐT:">
      </div>
      <div class="col-sm-6">
        <label for="exampleInputEmail1">Nghề nghiệp:</label>
        <input type="text" name="user-father_job" class="form-control" id="user-father_job" placeholder="Nghề nghiệp:">
      </div>
    </div>
    <label for="exampleInputEmail1">Họ tên mẹ:</label>
    <input type="text" name="user-father" class="form-control" id="user-father" placeholder="Họ tên mẹ:">
    <div class="row">
      <div class="col-sm-6">
        <label for="exampleInputEmail1">SĐT:</label>
        <input type="text" name="user-mother_phone" class="form-control" id="user-mother_phone" placeholder="SĐT:">
      </div>
      <div class="col-sm-6">
        <label for="exampleInputEmail1">Nghề nghiệp:</label>
        <input type="text" name="user-mother_job" class="form-control" id="user-mother_job" placeholder="Nghề nghiệp:">
      </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
          <label for="exampleInputEmail1">Họ và tên AC (nếu có):</label>
          <input type="text" name="user-ace" class="form-control" id="user-ace" placeholder=">Họ và tên AC (nếu có):">
        </div>
        <div class="col-sm-6">
          <label for="exampleInputEmail1">SĐT:</label>
          <input type="text" name="user-ace_phone" class="form-control" id="user-ace_phone" placeholder="SĐT:">
        </div>
      </div>
  </form>
</div>