.page-header .content-center {
  top: 50%;
  left: 50%;
  z-index: 2;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  padding: 0 15px;
  width: 100%;
}

.slogan {
  h1 {
    margin-bottom: 0px !important;
  }

  h4 {
    margin-top: 0px;
  }
}

.section {
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   margin-top:10vh;
  
}

.section-get-money {
  background-image: url(/assets/images/blue-poly-background.jpg);
}

.section-receive-money {
  background-image: url(/assets/images/green-poly-background.jpg);
}

.section-right-choise {
  background-image: url(/assets/images/how-it-works-background.jpg);
}

.section-right-decision-content {
  background-image: url(/assets/images/home-background-1.jpg);
}

.section-customer-feedback {
  background-color: #3e467b;
}

.divider-feedback {
  background-color: white;
}

.icon_box_inner::before {
  font-size: 30px;
  line-height: 60px;
  width: 60px;
  height: 60px;
  border-width: 0px;
  color: #cddc39;
  background-color: rgba(255, 255, 255, 0);
  border-color: rgba(255, 255, 255, 0);
}

.check-icon {
  font-size: 30px;
  color: #cddc39;
  font-weight: 100;
}

.why-us-card {
  border-color: #b6b6b6;
  box-shadow: none;
  background-color: #f6f6f6;
}

.icon-chart {
  font-size: 25px;
  line-height: 70px;
  width: 70px;
  height: 70px;
  border-width: 0px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  color: #ffffff;
  background-color: #cddc39;
}

.section-right-decision {
  background-color: #c1cd4c;
}

.input-with-button-rounded {
  input {
    border-radius: 0px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    height: 45px;
    background-color: white;
    border: none;
  }

  button {
    background-color: #cddc39;
    font-style: normal;
    text-transform: uppercase;
    height: 45px;
    margin: 0px;
    border-radius: 0px;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    border: none;
  }
}

.customer-feedback {
  background-image: url(/assets/images/home-testimonials1.jpg);
}

select.form-control:not([size]):not([multiple]) {
  height: auto;
}

select.form-control {
  padding: 0;
}

@media screen and (min-width: 991px) {
  .section-right-choise {
    .col-10 {
      height: 69px;
    }

    .check-icon {
      margin-top: -35px;
    }
  }
}


.news-item-custom {
    padding: 2em;
}