<div class="page-header">
  <div class="page-header-image rellax-header " data-rellax-speed="-8" style="background-image: url('/assets/images/home.jpg'); transform: translate3d(0px, 0px, 0px);">
    <div class="container d-table">

      <div class="center-vertical">
        <div class="row">
          <div class="col-lg-6 text-left px-4 py-3">
            <div class="row h-100">
              <div class="col-12 my-auto text-sm-center text-left">
                <div class="slogan">
                  <h4>15-Minute Transfer</h4>
                  <h1>Getting Money </h1>
                  <h4 class="second-color solgan">is now as easy as spending </h4>
                </div>
                <div class="row btn-header-group pt-3">
                  <div class="col-12 col-lg-8 col-sm-10 pt-md-0 mx-auto">
                    <div class="row">
                      <div class="col-12 col-md-6 pr-1">
                        <button type="button" class="btn btn-second btn-round w-md-100">How it works?</button>
                      </div>
                      <div class="col-12 col-md-6 pl-md-1">
                        <button type="button" class="btn btn-primary btn-round w-md-100">Why PayDay loans</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="row">
              <div class="col-12 col-md-8 mx-auto">
                <div class="card w-100">
                  <div class="card-body">
                    <h4 class="card-title text-muted">How much do you need?</h4>
                    <h6 class="card-subtitle mb-2 text-muted">You could get up to $5000!*</h6>
                    <img src="/assets/images/payment.png" class="py-3">
                    <div class="mx-auto">
                    </div>
                    <form class="form" method="" action="">
                      <div class="card-body py-3 px-0">
                        <div class="input-group form-group-no-border input-lg">
                          <div class="input-group-prepend">
                            <span class="input-group-text"><i class="now-ui-icons users_circle-08"></i></span>
                          </div>
                          <input type="text" [(ngModel)]="user.name" class="form-control" placeholder="YOUR NAME" name="name">
                        </div>

                        <div class="input-group form-group-no-border input-lg">
                          <div class="input-group-prepend">
                            <span class="input-group-text"><i class="now-ui-icons users_circle-08"></i></span>
                          </div>
                          <input type="number" [(ngModel)]="user.money" class="form-control" placeholder="AMOUNT OF MONEY ($)" name="money">
                        </div>

                        <div class="input-group form-group-no-border input-lg">
                          <div class="input-group-prepend">
                            <span class="input-group-text"><i class="now-ui-icons users_circle-08"></i></span>
                          </div>
                          <input type="text" [(ngModel)]="user.long" class="form-control" placeholder="HOW LONG FOR?" name="long">
                        </div>

                        <div class="input-group form-group-no-border input-lg">
                          <div class="input-group-prepend">
                            <span class="input-group-text"><i class="now-ui-icons users_circle-08"></i></span>
                          </div>
                          <input type="number" [(ngModel)]="user.phone" class="form-control" placeholder="PHONE" name="phone">
                        </div>
                      </div>
                    </form>
                    <button type="button" class="btn btn-primary btn-round w-100" (click)="createUser()">Get your loan now!</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="section section-introduce" #introduce>
  <div class="container">
    <div class="row">
      <div class="col-md-4 text-center">
        <img src="/assets/images/apig.png">
        <h3 class="pt-4">Where ever you are</h3>
        <p style="text-align: center;">Cum sociis natoque penatibus et magnis. Pro vel nibh et elit mollis commodo et
          nec</p>
        <a class="uppercase" href="#">HOW IT WORKS?</a>
      </div>
      <div class="col-md-4 text-center pt-5 pt-md-0">
        <img src="/assets/images/money.png">
        <h3 class="pt-4">Directly to your card</h3>
        <p style="text-align: center;">Cum sociis natoque penatibus et magnis. Pro vel nibh et elit mollis commodo et
          nec</p>
        <a class="uppercase" href="#">don’t have a card?</a>
      </div>
      <div class="col-md-4 text-center  pt-5 pt-md-0">
        <img src="/assets/images/money2.png">
        <h3 class="pt-4">Where ever you are</h3>
        <p style="text-align: center;">Cum sociis natoque penatibus et magnis. Pro vel nibh et elit mollis commodo et
          nec</p>
        <a class="uppercase" href="#">read our policies</a>
      </div>
    </div>
  </div>
</div>

<div class="section section-get-money" #getmoney>
  <div class="container">
    <div class="row">
      <div class="col-10 mx-auto text-center">
        <h1 class="white-color mb-1">Get money right now!</h1>
        <h5 class="second-color pb-5">Follow this easy steps to get money within 15 minutes</h5>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-12 p-3 p-md-0 text-center">
        <img src="/assets/images/light.png">
      </div>
      <div class="col-md-6 col-12 pt-5">
        <h2 class="white-color">Fill in an application form</h2>
        <p><span style="color: #ffffff;">Make a request on our website and wait for response to e-mail within 15-30
            minutes from the time of the request during business hours.</span></p>
        <button type="button" class="btn btn-second btn-round">Go To The Form</button>

      </div>
    </div>
  </div>
</div>

<div class="divider"></div>

<div class="section section-contact-user" #contactuser>
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6">
        <div class="row h-100">
          <div class="col-12 my-auto">
            <h2 class="cmsmasters_heading">Our manager will contact you</h2>
            <p>Make a request on our website and wait for response to e-mail within 15-30 minutes from the time of the
              request during business hours.</p>
            <button type="button" class="btn btn-second btn-round">what details?</button>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 text-center">
        <img src="/assets/images/cash.png">
      </div>
    </div>
  </div>
</div>

<div class="white-divider divider"></div>

<div class="section section-receive-money" #receivemoney>
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6">
        <img src="/assets/images/cash2.png">
      </div>
      <div class="col-12 col-md-6">
        <div class="row">
          <div class="col-12 my-auto">
            <h2 class="white-color">Receive your money in the most convenient way in 15 minutes</h2>
            <p><span style="color: #ffffff;">Make a request on our website and wait for response to e-mail within 15-30
                minutes from the time of the request during business hours.</span></p>
            <button type="button" class="btn btn-primary btn-round">how it works?</button>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="section section-right-choise" #rightchoise>
  <div class="container">
    <div class="row px-3">
      <h1><span style="color: #ffffff;">PayDay is</span> <span style="color: #cddc39;"> the right choice </span> <span
          style="color: #ffffff;">for you if:</span></h1>
    </div>
    <div class="row">
      <div class="col-12 col-md-6 white-color">
        <div class="row">
          <div class="col-2 my-auto">
            <div class="check-icon text-center">
              <i class="far fa-check-circle"></i>
            </div>
          </div>
          <div class="col-10">
            <h5 class="icon_box_heading">YOU ARE 18 OR OLDER</h5>
            <div class="icon_box_text">
              <p>The minimun age to use our service is 18.</p>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-2 my-auto">
            <div class="check-icon text-center">
              <i class="far fa-check-circle"></i>
            </div>
          </div>
          <div class="col-10">
            <h5 class="icon_box_heading">YOU ARE A US RESIDENT</h5>
            <div class="icon_box_text">
              <p>Must be a current resident of the United Kingdom.</p>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-2 my-auto">
            <div class="check-icon text-center">
              <i class="far fa-check-circle"></i>
            </div>
          </div>
          <div class="col-10">
            <h5 class="icon_box_heading">YOU HAVE A BANK ACCOUNT</h5>
            <div class="icon_box_text">
              <p>You need an active UK bank account to allow the money to be transferred to you.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-6 white-color">
        <div class="row">
          <div class="col-2 my-auto">
            <div class="check-icon text-center">
              <i class="far fa-check-circle"></i>
            </div>
          </div>
          <div class="col-10">
            <h5 class="icon_box_heading">YOU ARE HONEST AND TRUSTWORTHY</h5>
            <div class="icon_box_text">
              <p>You deffinitely have to be a nice person.</p>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-2 my-auto">
            <div class="check-icon text-center">
              <i class="far fa-check-circle"></i>
            </div>
          </div>
          <div class="col-10">
            <h5 class="icon_box_heading">YOU HAVE A VALID ADDRESS</h5>
            <div class="icon_box_text">
              <p>Must be a current resident of the United Kingdom.</p>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-2 my-auto">
            <div class="check-icon text-center">
              <i class="far fa-check-circle"></i>
            </div>
          </div>
          <div class="col-10">
            <h5 class="icon_box_heading">YOU HAVE A REGULAR INCOME</h5>
            <div class="icon_box_text">
              <p>You must have an income every month whether it be benefits or a job.</p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="section section-why-us" #whyus>
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h1 class="mb-1">Why people choose us</h1>
        <h5 class="uppercase blue-color mb-5">We offer a totally new way of borrowing </h5>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-4 col-sm-6 col-12 mx-auto">
        <div class="row">
          <div class="col-2 my-auto" style="z-index: 1;     margin-right: -20px;">
            <div class="icon-chart text-center">
              <i class="fas fa-chart-pie"></i>
            </div>
          </div>
          <div class="col-10 px-0">
            <div class="card w-100 why-us-card position-relative">
              <div class="card-body p-5">
                <h3>Fair Interest<br>
                  rates</h3>
                <p>Cum sociis natoque penatibus et magnis parturient. Pro vel nibh et elit mollis commodo et nec augue
                  tristique sed</p>
                <h5><a><span style="color: #3e467b;">How it works?</span></a></h5>
              </div>

            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-sm-6 col-12 mx-auto">
        <div class="row">
          <div class="col-2 my-auto" style="z-index: 1;     margin-right: -20px;">
            <div class="icon-chart text-center">
              <i class="fas fa-rocket"></i>
            </div>
          </div>
          <div class="col-10 px-0">
            <div class="card w-100 why-us-card position-relative">
              <div class="card-body p-5">
                <h3>Loans up to<br>
                  $5000</h3>
                <p>Cum sociis natoque penatibus et magnis parturient. Pro vel nibh et elit mollis commodo et nec augue
                  tristique sed</p>
                <h5><a><span style="color: #3e467b;">How it works?</span></a></h5>
              </div>

            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-sm-6 col-12 mx-auto">
        <div class="row">
          <div class="col-2 my-auto" style="z-index: 1;     margin-right: -20px;">
            <div class="icon-chart text-center">
              <i class="fas fa-chart-bar"></i>
            </div>
          </div>
          <div class="col-10 px-0">
            <div class="card w-100 why-us-card position-relative">
              <div class="card-body p-5">
                <h3>Lowest APR
                  available to you</h3>
                <p>Cum sociis natoque penatibus et magnis parturient. Pro vel nibh et elit mollis commodo et nec augue
                  tristique sed</p>
                <h5><a><span style="color: #3e467b;">How it works?</span></a></h5>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="section section-right-decision" #rightdecision>
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-sm-6 col-12 text-center my-auto p-lg-0 p-3">
        <img src="/assets/images/101.png">
      </div>

      <div class="col-lg-3 col-sm-6 col-12 text-center my-auto p-lg-0 p-3">
        <img src="/assets/images/102.png">
      </div>

      <div class="col-lg-3 col-sm-6 col-12 text-center my-auto p-lg-0 p-3">
        <img src="/assets/images/103.png">
      </div>

      <div class="col-lg-3 col-sm-6 col-12 text-center my-auto p-lg-0 p-3">
        <img src="/assets/images/104.png">
      </div>
    </div>
  </div>
</div>

<div class="yellow-divider divider"></div>

<div class="section section-right-decision-content" #rightdecisioncontent>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1 class="white-color mb-1">The right decision,</h1>
        <h2 class="second-color mb-5">at the right time.</h2>
      </div>
    </div>

    <div class="row white-color mt-0 mt-md-5">
      <div class="col-lg-3 col-sm-6 col-12">
        <h1 class="mb-1">120k</h1>
        <h4 class="mt-0">LOANS TAKEN</h4>
      </div>

      <div class="col-lg-3 col-sm-6 col-12">
        <h1 class="mb-1">38</h1>
        <h4 class="mt-0">OFFICES</h4>
      </div>

      <div class="col-lg-3 col-sm-6 col-12">
        <h1 class="mb-1">15</h1>
        <h4 class="mt-0">AWARDS WON</h4>
      </div>

      <div class="col-lg-3 col-sm-6 col-12">
        <h1 class="mb-1">100%</h1>
        <h4 class="mt-0">HAPPY CLIENTS</h4>
      </div>
    </div>
  </div>
</div>

<div class="section section-lastest-news" #lastestnew>
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h1 class="mb-1">Latest News</h1>
        <h5 class="blue-color uppercase">stay tuned into the world of finance and business</h5>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <!-- Set up your HTML -->
        <div class="owl-carousel news-carousel mt-5 custom-news">
          <div *ngFor=" let data of [1,2,3,4,5]; let i =index">
            <news-item></news-item>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class=" divider divider-feedback"></div>
<div class="section section-customer-feedback" #customerfeedback style="padding-bottom: 0px">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-12 col-lg-8">
        <div class="text-center white-color">
          <h3 class="mb-0">Get Instant access to our weekly newsletter</h3>
        </div>
      </div>
      <div class="col-12 col-sm-12 col-lg-4">
        <div class="input-with-button-rounded w-100 px-2">
          <div class="row">
            <div class="col-md-8 col-8 px-0">
              <input type="email" class="form-control" name="email-subscribe" title="Email" value="" placeholder="Email...">
            </div>
            <div class="col-4 col-md-4  px-0 py-0">
              <button class="btn btn-primary w-100">Subscribe!</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="customer-feedback" style="margin-top: 70px">
    <div class="container">
      <div class="row">
        <div class="col-12 mt-5 text-center">
          <h1 class="white-color mb-1">What customers are saying</h1>
          <h5 class="second-color ">Hear what our customers are saying</h5>
        </div>
        <div class="col-12">
          <h1 class="white-color text-center"><i class="fas fa-quote-left"></i></h1>
          <p class="white-color px-4" style="font-size: 20px">Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie
            consequat,
            vel illum dolore eu
            feugiat. Lorem ipsum dolor sit amet, cosectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt
            ut
            laoreet dolore magna aliquam erat volutpat.</p>
        </div>
        <div class="col-12">
          <h3 class="second-color text-center mb-0">Jill Sanders</h3>
          <h6 class="text-center white-color mb-0 pb-5">Manager</h6>
          <!-- <customer-feedback></customer-feedback> -->

        </div>
      </div>
    </div>
  </div>
</div>
