<div class="card news-card">
  <div class="card-body p-0 position-relative">
    <img src="/assets/images/10-580x560.jpg">
    <div class="news-date-time">
      <div class="row h-100">
        <div class="col-12 my-auto">
          27 <br> Nov
        </div>
      </div>
    </div>
  </div>
  <div class="card-footer">
    <h4 class="mt-0  news-title"><a>Cash
        Loans for Students</a></h4>
    <span class="cmsmasters_slider_post_category"><a href="http://payday-loans.cmsmasters.net/category/advices/" class="cmsmasters_cat_color cmsmasters_cat_2"
        rel="category tag">Advices</a>, <a href="http://payday-loans.cmsmasters.net/category/money-hacks/" class="cmsmasters_cat_color cmsmasters_cat_26"
        rel="category tag">Money hacks</a></span>
  </div>
</div>
