.news-card {
  box-shadow: none;
}

.news-title {
  font-size: 16px;
}

.news-date-time {
  height: 60px;
  width: 60px;
  background-color: #cddc39;
  position: absolute;
  top: 10px;
  right: 0px;
  font-size: 16px;
  text-align: center;
  color: white;
}
