<div class="card news-card">
  <div class="card-body p-0 position-relative">
    <!-- <img [src]="blog?.picture"> -->
    <div class="blog-image" [ngStyle]="{'background-image': 'url(' + blog?.picture + ')'}"></div>
    <div class="news-date-time">
      <div class="row h-100">
        <div class="col-12 my-auto">
          27 <br> Nov
        </div>
      </div>
    </div>
  </div>
  <div class="card-footer">
    <h4 class="mt-0  news-title" [routerLink]="['/news', blog?.id]"><a>{{blog?.title}}</a></h4>
    <!-- <span class="cmsmasters_slider_post_category"><a class="cmsmasters_cat_color cmsmasters_cat_2"
        rel="category tag">Advices</a>, <a class="cmsmasters_cat_color cmsmasters_cat_26"
        rel="category tag">Money hacks</a></span> -->
        <p>
            {{blog?.describe}}
        </p>
  </div>
</div>
