.news-header {
  background-color: #3e467b;
  color: #ffffff;
}

.news-search {
  color: #bbbbbb;

  &::placeholder {
    color: #bbbbbb;
  }
}

.input-image {
  position: relative;
  width: 100%;

  input {
    padding-right: 40px;
    width: 100% !important;
  }

  .image-content {
    position: absolute;
    right: 10px;
    top: 12px;

    svg {
      path {
        fill: #555555;
      }
    }
  }
}

.categories-list {
  list-style-type: none;

  li a {
    color: #3e467b;

    &:hover {
      color: #cddc39;
    }
  }
}

.news-content {
  margin-bottom: 20px;

  h4 {
    color: #212121;
    font-size: 16px;
    line-height: 22px;
    font-weight: 600;
    font-style: normal;
    text-transform: uppercase;
  }

  .about-us-text {
    font-size: 13px;
    color: #878787;
  }
}

.news-contact {
  i {
    color: #cddc39;
    font-size: 20px;

  }
}

.breadcums {
  border-bottom: 1px solid rgba(255, 255, 255, 0.10);

  .breadcums-items {
    list-style: none;

    li {
      display: inline-block;
      padding-left: 6px;

      i {
        font-size: 10px;
      }

      a {
        font-size: 10px;
        text-transform: uppercase;
        color: white;

        &:hover {
          color: #cddc39;
          text-decoration: none;
        }
      }

      //   &::after {
      //     font-size: 8px;
      //     content: ">";
      //     font-weight: bold;
      //     opacity: 0.5;
      //     background: transparent;
      //     border: 0;
      //     margin: 0;
      //     padding: 0;
      //     vertical-align: baseline;
      //     outline: none;
      //   }

      //   &:last-child {
      //     &::after {
      //       content: ""
      //     }
      //   }
    }
  }
}

.news-contact i {
  width: 30px;
  vertical-align: middle;
}
