<div class="col-md-12">
  <div class="pt-4">
    <breadcrumbs [breadcrumbs]="breadcrumbs"></breadcrumbs>
  </div>
  <div class="card mt-3">
    <div class="card-header border-bottom-0">
      <!-- <h4 class="card-title">Quản lý khách hàng</h4> -->
      <div class="header pt-3">
        <h2><strong>Clients</strong> Management</h2>
        <ul class="header-dropdown">
          <li ngbDropdown placement="bottom-right" class="hide-dropdown-button">
            <a id="dropdownBasic109" ngbDropdownToggle>
              <i class="fas fa-ellipsis-h"></i>
            </a>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic109">
              <button class="dropdown-item pointer" (click)="loadClient()">Reload</button>
            </div>
          </li>
        </ul>
      </div>
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <div class="dataTables_length">
            <label>Show
              <select name="DataTables_Table_0_length" aria-controls="DataTables_Table_0" class="form-control form-control-sm"
                (change)="setItemPerpage($event.target.value)">
                <option value="10">10</option>
                <option value="20">20</option>
                <option value="30">30</option>
              </select> entries
            </label>
          </div>
        </div>
        <div class="col-sm-12 col-md-6">
          <div class="dataTables_filter text-right">
            <label>Search:
              <input type="search" class="form-control form-control-sm" placeholder="Search" [(ngModel)]="term">
            </label>
          </div>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table m-b-0">
          <thead>
            <tr>
              <th>#</th>
              <th>Họ tên</th>
              <th>Kì hạn</th>
              <th>Điện thoại</th>
              <th>Số tiền</th>
              <th>Status</th>
              <th class="text-right">Thao tác</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of users | paginate: config  | filter:term; let i = index; let odd=odd;"
              [class.checked]="user.checked" [class.odd]="odd">
              <td style="width: 25px;">{{i + 1}}</td>
              <td>{{user.name}}</td>
              <td>{{user.long}}</td>
              <td>{{user.phone | decrypt}}</td>
              <td>{{user.money}}</td>
              <td><span class="badge badge-warning">Pending</span></td>
              <td class="text-right">
                <button (click)="openDetail(user.id);checkSeen(user)" type="button" rel="tooltip" class="btn btn-success  btn-icon btn-sm "
                  data-original-title="" title="">
                  <i class="now-ui-icons ui-2_settings-90"></i>
                </button>
                <button type="button" (click)="open(user.id); $event.stopPropagation();" class="btn btn-danger btn-icon btn-sm "
                  data-original-title="" title="">
                  <i class="fas fa-times"></i>
                </button>
                <!-- <i (click)="open(user.id);  $event.stopPropagation();" class="fas fa-user-times"></i> -->
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <pagination [config]="config"></pagination>
    </div>
  </div>
</div>