<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{title}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
  <ul class="list-group px-3">
      <li class="list-group-item"><b>1. </b>Bên B đồng ý vay với số tiền trên với lãi suất đã thoả thuận tính từ ngày đã nhận tiền vay.</li>
      <li class="list-group-item"><b>2. </b>Tiền lãi được trả hàng tháng đúng vào ngày thứ 30 tính từ ngày vay.</li>
      <li class="list-group-item"><b>3. </b>Số tiền thanh toán theo kì nếu trả chậm sau 5 ngày, ngoài số tiền khách hàng phải thanh toán thì khách hàng phải thanh toán cho bên A một khoản phí là 100.000 việt nam đồng.</li>
      <li class="list-group-item"><b>4. </b>Nếu số ngày trả chậm từ 7 đến 30 ngày; ngoài số tiền thanh toán theo lịch trả nợ và phí 100.000 việt nam đồng trên, khách hàng còn phải thanh toán cho bên A thêm khoản phí 15.000 vnđ/ngày tương ứng với số ngày chậm trả tiền theo hợp đồng.</li>
      <li class="list-group-item"><b>5. </b>Nễu Trễ hạn quá 30 ngày, thì khách hàng phải thanh toán NGAY LẬP TỨC MỘT LẦN cho bên A và chịu phí phạt như các điều trên.</li>
  </ul>
</div>
<div class="modal-footer"></div>