.p-05 {
  line-height: 11px;
  padding: 0.1rem 0.2rem !important;
  font-size: 9px;
  border-radius: 3px !important;
}

.navbar-content {
  background-color: white;

  nav {
    box-shadow: none;
  }

  .navbar-cs {
    height: 150px;
    max-height: none;
    display: block;
  }
}

.child-navbar {
  background: white;
  border-radius: 15px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
  padding: 1rem;
  width: 98%;
  margin: 0 auto;
  margin-top: 20px;
}

.notification .dropdown-toggle:after {
  display: none;
}

.user-img {
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

