<div class="col-md-12">
  <div class="card mt-3">
    <div class="card-header border-bottom-0">
      <h4 class="card-title">Quản lý khách hàng</h4>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>Email</th>
              <th>Tên</th>
              <th>Nội dung</th>
              <th>Ngày tạo</th>
              <th class="text-right">Thao tác</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let contact of contacts" (click)="openDetail(contact.id);checkSeen(contact)" [class.checked]="!contact.checked">
              <td>{{contact.email}}</td>
              <td>{{contact.name}}</td>
              <td>{{contact.message}}</td>
              <td>{{contact.createdAt.toDate() | date:'short'}}</td>
              <td class="text-right">
                <i (click)="delete(contact.id);  $event.stopPropagation();" class="fas fa-user-times"></i>
              </td>
            </tr>
          </tbody>
        </table>
        <!-- <span>{{(users | async)?.length}}</span> -->
      </div>
    </div>
  </div>
</div>
