<pagination-template #p="paginationApi" [id]="config.id" (pageChange)="pageChange($event)">
  <!-- <div class="row">
    <div class="pr-0 col-md-8">
      <div class="links text-center" [ngClass]="{'text-right' : hideDetail, 'blue-links' : commercial}">
        <ul class="pagination">
          <li class="page-item" [class.disabled]="p.isFirstPage()"><a (click)="prev(p)">Previous</a>
          </li>
        </ul>
        <ul class="pagination" *ngFor="let page of p.pages">
          <li class="page-item" (click)="p.setCurrent(page.value)" *ngIf="p.getCurrent() !== page.value">
            <a style="cursor: pointer">{{page.label}}</a>
          </li>
          <li class="page-item" style="cursor: pointer" class="active" *ngIf="p.getCurrent() === page.value"><span>{{page.label}}</span>
          </li>
        </ul>
        <ul class="pagination">
          <li class="page-item" [class.disabled]="p.isLastPage()"><a (click)="next(p)">Next</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-md-4 text-right-md d-none d-sm-block pr-0 pt-1 total-item-list">
      <strong>Showing {{(p.getCurrent() - 1) * config.itemsPerPage + 1}} - {{p.getCurrent() *
        config.itemsPerPage
        < p.getTotalItems() ? p.getCurrent() * config.itemsPerPage : p.getTotalItems()}}</strong> of <strong>{{p.getTotalItems()}}</strong>
      {{(p.getTotalItems() > 1 ?
      'entries' :
      'entrie' )}}
    </div>
  </div> -->

  <div class="row">
    <div class="col-md-4 text-right-md d-none d-sm-block pr-0 pt-1 total-item-list my-aut0">
      <strong>Showing {{(p.getCurrent() - 1) * config.itemsPerPage + 1}} - {{p.getCurrent() *
        config.itemsPerPage
        < p.getTotalItems() ? p.getCurrent() * config.itemsPerPage : p.getTotalItems()}}</strong> of <strong>{{p.getTotalItems()}}</strong>
      {{(p.getTotalItems() > 1 ?
      'entries' :
      'entrie' )}}
    </div>

    <div class="col-md-8 my-auto" *ngIf="p.getTotalItems() > config.itemsPerPage">
      <ul class="pagination">
        <li class="page-item" [class.disabled]="p.isFirstPage()">
          <span class="page-link" (click)="prev(p)">Previous</span>
        </li>
        <li class="page-item" *ngFor="let page of p.pages"  [class.active]="p.getCurrent() == page.value">
          <a class="page-link" (click)="p.setCurrent(page.value)">{{page.label}}</a>
        </li>
        <li class="page-item" [class.disabled]="p.isLastPage()">
          <a class="page-link" (click)="next(p)">Next</a>
        </li>
      </ul>
    </div>
  </div>
</pagination-template>
