<div class="card news-list">
  <div *ngFor="let blog of blogs">
    <div class="row py-3">
      <div class="col-12 col-sm-1 col-lg-2 pr-md-0">
        <div class="top-left-menu">
          <div class="news-post-day text-center">
            <abbr title="{{blog.time | date}}">
              <label>{{blog.time | date: 'dd'}}</label>
              <label>{{blog.time | date: 'MMM'}}</label>
            </abbr>
          </div>
          <div class="news-like-comment">
            <div class="text-center">
              <span class="px-1 pointer">
                <i class="fas fa-heart"></i>
              </span>
              9<span class="pl-3 pr-1 pointer">
                <i class="fas fa-comment-alt"></i>
              </span>
              2</div>
          </div>
        </div>
      </div>
      <div class="col-lg-10 col-sm-11 col-12 pl-md-0">
        <div class="news-img">
          <img src="{{blog.picture}}">
        </div>
        <div class="news-content">
          <h4 class="pointer news-card-title">{{blog.title}}</h4>
          <div class="news-post-by"><span class="posted-by">POSTED BY </span> <a>CMSMASTERS</a> <span class="news-divider">|</span> <a>BAD CREDIT</a>, <a>PAYDAY
              LOANS</a></div>
          <p class="pt-3 news-card-short">{{blog.describe}}...</p>
          <a [routerLink]="['/news', blog.id]" class="read-more">Read more</a>
        </div>
      </div>
    </div>
  </div>
</div>
