.news-list {
  box-shadow: unset;

  .news-post-day {
    padding: 22px 25px;
    height: 100px;
    width: 100px;
    background-color: #cddc39;

    label {
      font-size: 24px;
      line-height: 30px;
      display: inline-block;
      margin-bottom: 0;
      color: #ffffff;
      font-weight: normal;
    }
  }

  .news-like-comment {
    background-color: #3e467b;
    width: 100px;
    color: #ffffff;

    span {
      &:hover {
        color: #cddc39;
      }
    }
  }
}
