<div class="card news-list" *ngIf="blog">
  <div>
    <div class="row">
      <div class="col-12 col-sm-1 col-lg-2 pr-md-0">
        <div class="top-left-menu">
          <div class="news-post-day text-center ">
            <abbr title="{{blog.time | date}}">
              <label><small>{{blog.time | date: 'dd'}}</small></label>
              <br/>
              <label><small>{{blog.time | monthpipe}}</small></label>
            </abbr>
          </div>
          <div class="news-like-comment">
            <div class="text-center">
              <span class="px-1 pointer">
                <i class="fas fa-heart"></i>
              </span>
              9<span class="pl-3 pr-1 pointer">
                <i class="fas fa-comment-alt"></i>
              </span>
              2</div>
          </div>
        </div>
      </div>
      <div class="col-lg-10 col-sm-11 col-12 pl-md-0">
        <div class="news-img">
          <img src="{{blog.picture}}">
        </div>
        <div class="news-content">
          <h4 class="pointer news-card-title">{{blog.title}}</h4>
          <div class="news-post-by"><span class="posted-by">POSTED BY </span> <a>CMSMASTERS</a> <span class="news-divider">|</span>
            <a>BAD CREDIT</a>, <a>PAYDAY
              LOANS</a></div>
          <p class="pt-3 news-card-short"> {{blog.describe}}</p>
          <p [innerHtml]="blog.content"></p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <news-item></news-item> -->
 <!-- <div class="row">
  <div class="col-12">
    <h3 class="share_posts_title mb-2">Like this post?</h3>
    <ul class="like-share">
      <li>
        <label>Facebook</label>
      </li>
      <li>
        <label>Google+</label>
      </li>
      <li>
        <label>Twitter</label>
      </li>
    </ul>
  </div>
  
  <div class="col-12">
    <h3 class="mb-2">More posts</h3>
    <div class="custom1 owl-carousel  mt-5 custom-news">
      <div *ngFor=" let data of [1,2,3,4,5]; let i =index">
      
      </div>
    </div>
  </div> 

   <div class="col-12">
    <h3 class="mb-2">Leave a Reply</h3>
    <p class="comment-notes">Your email address will not be published.</p>
    <form class="form" method="" action="">
      <div class="card-body py-3 px-0">
        <div class="input-group form-group-no-border input-lg">
          <textarea class="form-control" name="comment" id="comment" cols="67" rows="2" placeholder="MESSAGE" style="margin-top: 0px; margin-bottom: 0px; min-height: 241px;"></textarea>
        </div>
        <div class="input-group form-group-no-border input-lg">
          <input type="text" class="form-control" placeholder="YOUR NAME">
        </div>

        <div class="input-group form-group-no-border input-lg">
          <input type="text" class="form-control" placeholder="YOUR EMAIL">
        </div>

        <div class="form-check pl-0 mt-4">
          <label class="form-check-label">
            <input class="form-check-input" type="checkbox" value="">
            Save my name, email, and website in this browser for the next time I comment.
            <span class="form-check-sign">
              <span class="check"></span>
            </span>
          </label>
        </div>

        <div class="mt-3">
            <button type="button" class="btn btn-primary btn-round">Add Comment</button>
        </div>

      </div>
    </form>
  </div>
</div> -->
