<div class="container">
    <h3 class="text-center text-success">Xin nhập tên của bạn</h3>
    <form>
            <div class="form-group row">
                <div class="input-group col-sm-8 mx-auto">
                  <input type="text" class="form-control" placeholder="Tên" aria-label="Username">
                      <div class="input-group-prepend bg-white ">
                        <span class="rounded-right bg-white border p-2"><i class="fa fa-paper-plane rgba-white-strong"></i></span>
                      </div>
                </div>
            </div>
        </form>
</div>