<div class="container">
  <div *ngIf="!chatId" class="text-center">
      <div class="info info-hover mx-auto p-3 col-lg-4 ">
          <div class="icon">
            <i class="now-ui-icons ui-2_chat-round"></i>
          </div>
          <p class="description">Chat is available 9:30A.M to 12:00A.M EST Monday through Friday 11:00A.M to 11:00P.M EST Saturday through Sunday Customer service is here to help 24 hours a day, 7 days a week: Support Line: 1-800-325-6000(US Customer Only)  </p>
        </div>
    <h3 class="text-success">Xin nhập tên của bạn</h3>
    <form>
      <div class="form-group row chat-content">
        <div class="input-group col-sm-8 mx-auto">
          <input type="text" class="form-control" placeholder="Tên" aria-label="Username" [(ngModel)]="customerName"
            name="customerName" />
          <div class="input-group-prepend bg-white ">
            <span class="rounded-left bg-white border pt-2 pb-2 pl-4 pr-4" (click)="createChat()"><i class="fa fa-paper-plane rgba-white-strong"></i></span>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="container" *ngIf="chatId">
    <h1 class="text-center pt-5">Gửi tin nhắn với quản trị viên</h1>
    <div class="row">
      <div class="chat col-lg-12 mx-1">
        <div class="chat-history" #chatList>
          <ul class="m-b-0">
            <li class="clearfix" *ngFor="let message of chat?.contents">
              <div class="message-data" [class.text-right]="message.isAdmin">
                <span class="message-data-time">{{message.createdAt}}</span>
              </div>
              <div class="message" [ngClass]="{
                  'other-message':message.isAdmin,
                    'float-right':message.isAdmin,
                    'my-message':(!message.isAdmin)
                  }">
                {{message.value}}
              </div>
            </li>
          </ul>
        </div>
        <div class="chat-message clearfix">
          <div class="input-group m-b-0">
            <input type="text" (keydown.enter)="sendMessage()" [(ngModel)]="message" class="form-control" placeholder="Enter text here...">
            <span class="input-group-addon pointer" (click)="sendMessage()"><i class="fa fa-send-o"></i></span>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
